node_modules/
.DS_Store
dist/

# Локальные конфиги PlayCanvas (содержат API Key!)
pcsync.json

# SSL сертификаты (они уникальны для каждого компа)
*.pem
*.key

# src/*

//zK7pmEgeH7ZaRdkS8kySNOAi1uGnNRB4
//2374490
# Логи
npm-debug.log*
pnpm-debug.log*